<form class="fx-form fx-rounded-bottom fx-two-column-form" action="javascript:void(0);">
    <fieldset>
        <legend class="fx-rounded-bottom">
            <img src="images/person.png"/> Customer
        </legend>
        <ol>
            <li>
                <label for="firstName">First Name</label>
                <input id="firstName" name="customer[firstName]" value="{{firstName}}"/>
            </li>
            <li>
                <label for="lastName">Last Name</label>
                <input id="lastName" name="customer[lastName]" value="{{lastName}}"/>
            </li>
        </ol>
    </fieldset>
</form>
